
.dashboard 
{
    background-color: #202020;
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.logout 
{
    position: absolute;
    padding: 20px;
    text-align: center;
    left: 50%;
    top: 20%;
    transform: translate(-50%, -50%);
    background-color:darkslategray;
    cursor: pointer;
}
.dashboard .container 
{
    position: absolute;
    display: block;
    overflow: hidden;
    background: linear-gradient(to bottom, rgb(78 78 78 / 61%), rgb(50 50 66 / 43%));
    height: 100%;
    width: 100%;
    animation: FadeIn ease-in 1s;
    transition-duration: 0.4s;
    z-index: 1;
}

/* KEENAN CSS */
#shopify_fetch_graph, #shopify_order_graph
{
    display: none;
    transition-duration: 0.4s;
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 10px;
}
#shopify_fetch_graph:hover, #shopify_order_graph:hover
{
    background-color: rgba(0, 0, 0, 0.4);
}
.fetch_status {
    position: relative;
    width: max-content;
    height: max-content;
    border-radius: 5px;
    border-width: 1px;
    left: 50%;
    top: 10%;
    transform: translate(-50%, 0%);
}

.fetch_status_text {
    font-weight: 400;
    font-family: system-ui;
    position: relative;
    width: 250px;
    float: left;
    top: 18px;
    overflow: hidden;
}

.enabled_status {
    width: 30px;
    overflow: hidden;
    display: inline-block;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    font-family: system-ui;
    font-weight: lighter;
    box-shadow: 0 0 0px rgb(9, 211, 12), 0 0 0px rgb(9, 211, 12), 0 0 0px rgb(9, 211, 12), 0 0 0px rgb(9, 211, 12), 0 0 0px rgb(173 216 230 / 10%);
    position: relative;
    background-color: rgb(7 234 7 / 80%);
    transition-duration: 0.2s;
    overflow: hidden;
    top: 5px;
    left: 10px;
    cursor: pointer;
}

.disabled_status {
    width: 30px;
    overflow: hidden;
    display: inline-block;
    height: 30px;
    padding: 2px;
    border-radius: 10px;
    font-family: system-ui;
    font-weight: lighter;
    box-shadow: 0 0 0px rgb(213, 35, 7), 0 0 0px rgb(213, 35, 7), 0 0 00px rgb(213, 35, 7), 0 0 00px rgb(213, 35, 7), 0 0 00px rgb(173 216 230 / 10%);
    position: relative;
    background-color: rgb(255 0 0 / 80%);
    transition-duration: 0.2s;
    overflow: hidden;
    top: 5px;
    left: 10px;
    cursor: pointer;
}

.logo {
    height: 25px;
    left: 0px;
    position: relative;
}

.logo_text {
    width: max-content;
    display: inline-block;
    position: relative;
    top: -4px;
    left: 0px;
}

.graph {
    width: 38%;
    height: 45%;
}


.g1 {
    position: relative;
    left: 1%;
    top: 12%;
    display: none;
}

.g2 {
    position: relative;
    left: 75%;
    top: -5%;
    transform: translate(-50%, 0);
    display: none;
}

.header {
    position: relative;
    text-align: center;
    width: 100%;
    height: max-content;
    border-width: 1px;
    font-size: 20px;
    top: 47px;
    color: white;
    display: none;
    background: linear-gradient(to bottom, rgba(0,0,0,0.55), rgba(0,0,0,0.1));
}

.welcome_text {
    position: relative;
    display: inline-block;
    width: max-content;
    height: max-content;
    padding: 5px;
    left: -50px;
    margin: 10px;
}

.logout_button {
    background-color: rgba(201, 201, 201, 0.95);
    color: rgb(37, 37, 37);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 2px;
    font-size: 15px;
    width: 7%;
    position: relative;
    transition-duration: 0.4s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    top: 17px;
    right: 20px;
    padding: 10px;
    float: right;
}
.logout_button:hover 
{
    background-color: #2196F3;
    box-shadow: 0 0 1px #2196F3;
    color: aliceblue;
}

.footer {
    position: relative;
    text-align: center;
    width: 100%;
    height: max-content;
    background-color: azure;
    font-size: 16px;
    display: none;
}

td {
    position: relative;
    padding: 5px;
}

#tr_logos {
    position: relative;
    padding: 5px;
    border-left: 2px solid azure;
    transition-duration: 0.2s;
}


#tr_logos:hover {
    border-left: 2px solid black;
}

tr:nth-child(even) {
    background-color: aliceblue;
}

table {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    width: 25%;
    font-size: 14px;
}

/* Bubble notifications */
.bubble 
{
    position: absolute;
    display: none;
    left: 1%;
    padding: 10px 15px;
    font-size: 12px;
    animation: bubble 1s ease-in-out;
    background-color: rgba(201, 201, 201, 0.95);
    color: rgb(37, 37, 37);
    border: none;
    outline: none;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 10px;
}
.bubble:hover 
{
    background-color: #2196F3;
    box-shadow: 0 0 1px #2196F3;
    color: aliceblue;
}
.bub1 
{
    top: 68%;
}
.bub2
{
    top: 75%;
}
.bub3 
{
    top: 82%;
}

@keyframes bubble 
{
    from {left: -10%; opacity: 0;}
    to {left: 1%; opacity: 1;}
}
