
.tablink 
{
    background-color: #fcfafa;
    color: rgb(37, 37, 37);
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px 16px;
    margin: 2px;
    font-size: 15px;
    width: 7%;
    position: relative;
    transition-duration: 0.4s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.tablink:hover 
{
    background-color: rgb(72, 101, 128);
    color: aliceblue;
}
.description ul 
{
    list-style-type: disc;
    padding: 0px 0;
}
.description li 
{
    color: black;
    float: none;
    left: initial;
    top: initial;
    padding: 4px;
}

.tabcontent 
{
    color: white;
    display: none;
    height: 100%;
    position: absolute;
    width: 100%;
}
.button-holder 
{
    position: absolute;
    width: 100%;
    text-align: center;
    background-color: rgba(238, 243, 248, 1);
    z-index: 3;
}

.details 
{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(61, 61, 61, 0.5);
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 2;
}    
.details-details 
{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 13px;
    background-color: rgba(255, 255, 255, 0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    overflow: hidden;
}
.auto-slideshow-container .details-image
{
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    position: absolute;
    overflow: auto;
    width: 29%;
    object-fit: cover;
    object-position: 38% 25%;
}
.detailed 
{
    position: absolute;
    color: rgb(0, 0, 0);
    left: 50%;
    transform: translate(-49%);
    background-color: rgb(255 255 255 / 57%);
    width: 51%;
    height: 100%;
    overflow: auto;
    text-align: center;
    left: 54%;
    z-index: 2;
}
.details-left 
{
    position: absolute;
    color: white;
    right: 0%;
    background-color: rgb(255 255 255 / 57%);
    width: 20%;
    height: 100%;
    overflow: auto;
    text-align: center;
    transform: translate(1px);
    z-index: 2;
}
.details-right
{
    position: absolute;
    color: rgb(0, 0, 0);
    left: 0%;
    background-color: rgb(255 255 255 / 57%);
    width: 29%;
    height: 100%;
    overflow: auto;
    text-align: center;
    transform: translate(1px);
    z-index: 2;
}
.details-tables 
{
    position: relative;
    float: left;
    width: 30%;
}

.details-warehouse 
{
    padding: 10px;
    position: relative;
}
#title 
{
    text-decoration: underline;
}
.details-title 
{
    position: relative;
    color: black;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    padding-bottom: 45px;
    padding-top: 60px;
}
.details-activity 
{
    position: relative;
}
.details-description 
{
    position: relative;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}
.details-code 
{
    position: relative;
}
.details-options 
{
    position: relative;
}
.details-category 
{
    position: relative;

}
.details-type 
{
    position: relative;
}
.details-vendor 
{
    position: relative;
}
.details-price 
{
    position: relative;
}
.details-update-date 
{
    position: relative;
}
.close-button 
{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 2;
    color: rgb(184, 11, 11);
    font-size: 35px;
    text-align: center;
}
.rtn-button
{
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    top: 5px;
    left: 5px;
    background-image: url(../media/return.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 4;
}
table 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
    color: black;
    font-size: 14px;
}
td, th 
{
    border: 1px solid #5d5d5d;
    text-align: left;
    padding: 10px;
}
tr:nth-child(even) 
{
    background-color: #e0e0e0;
    cursor: pointer;
}
tr
{ 
    border: none;
    transition-duration: 0.4s;
}
tr:hover 
{
    border-left: 1px solid black;
    background-color: white;
}
.details-tables tr:nth-child(odd)
{
    color:#0f538d;
} 

.activee
{
    position: relative;
    height: 30px;
    top: 8px;
    width: 30px;
    right: -5px;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/tick.png);
}
.inactive
{
    position: relative;
    height: 30px;
    top: 8px;
    width: 30px;
    right: -5px;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/cross.png);
}
#activity
{
    transition-duration: 0.1s;
    visibility: hidden;
    position: absolute;
    margin: 1px;
    font-size: 12px;
    left: 68%;
    top: 50px;
    user-select: none;
    background-color: rgba(61, 61, 61, 0.1);
}
.activee:hover, .inactive:hover ~ #activity
{
    visibility: visible;
}

.variants
{
    position: relative;
    width: 80%;
    height: auto;
    overflow: auto;
    left: 50%;
    transform: translate(-50%);
    padding: 10px;
    background-color:#cecece;
}
.variants:nth-child(even) 
{
    background-color:#d8d8d8;
}
.vr 
{
    text-align: right;
    position: relative;
    right: 0%;
    bottom: 5%;
    width: auto;
    height: auto;
}
.Prices, .updateDate, .Quantities
{
    font-weight: bold;
    font-size: 15px;
}

#description ul 
{
    display: inline-block;
}
p{ padding: 10px 60px; margin: 0;}
.c 
{
    margin-left: 5px;
    margin-right: 5px;
    display: inline;
}
.variant-title 
{
    position: relative;
    color: black;
    font-size: 20px;
    padding-bottom: 20px;
    padding-top: 5px;
}
.variant-price 
{
    margin-bottom: 5px;
    float: right;
}
.confirm-line 
{
    position: absolute;
    display: none;
    width: 100%;
    height: 42px;
    bottom: 0%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 2;
}
/* Slide Show */
* 
{
    box-sizing: border-box;
}
auto-slideshow-container .mySlides
{
    display: none;
}

auto-slideshow-container .mySlides2 
{
    display: none;
}

.auto-slideshow-container 
{
	width: 100%;
	height: 100%;
	position: absolute;
	margin: 0px;
	overflow: hidden;
}

.active 
{
  background-color: #717171;
}

.auto-slideshow-container .fade 
{
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade 
{
  from {opacity: .4} 
  to {opacity: 1}
}

/* Product Activity Slider */
.switch 
{
    position: relative;
    display: inline-block;
    width: 64px;
    height: 34px;
    margin-left: 15px;
    left: 0px;
}

.switch input 
{ 
    opacity: 0;
    width: 0;
    height: 0;
}

.slider 
{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before 
{
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider 
{
    background-color: #2196F3;
}

input:focus + .slider 
{
    box-shadow: 0 0 1px #2196F3;
}
  
input:checked + .slider:before 
{
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round 
{
    border-radius: 34px;
}
  
.slider.round:before 
{
    border-radius: 50%;
}

/* Orders */
textarea {
    overflow: auto;
    border: none;
    font-family: "Times New Roman", Times, serif;
    resize: none;
    box-sizing: border-box;
    transition-duration: 0.4s;
}

hr {
    width: 75%;
}


a {
    text-decoration: none;
    color: rgb(35, 118, 148);
    transition-duration: 0.2s;
}

a:hover {
    color: #30b2e1;
}

.order-image
{
    position: absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
}

.view {
    z-index: 1;
    position: relative;
    width: 90%;
    height: 30%;
}

.view_order_title {
    left: 50%;
    position: relative;
    width: max-content;
    transition-duration: 0.2s;
    border-radius: 5px;
    font-size: 25px;
    font-weight: lighter;
    margin: 12px;
    transform: translate(-50%);
}

.view_order_status {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 30px;
    top: 6px;
    background-repeat: no-repeat;
    background-image: url(../media/paid.png);
    background-position: center;
    background-size: cover;
}

.view_order_title_date {
    position: relative;
    top: 6%;
    left: 4%;
    width: max-content;
    font-size: 10px;
    padding: 2 10px;
    border-radius: 5px;
    transition-duration: 0.2s;
    border: dashed;
}

.order_data_container {
    position: relative;
    top: 10%;
}

.order_header_div {
    position: relative;
    width: 100%;
}

/** Customer address styles */
.order_data_customer_address_view {
    position: relative;
    right: 0;
    width: 80%;
    border: 1px solid whitesmoke;
    padding: 10px 0 10px 0;
    color: black;
    border: none;
    left: 50%;
    transform: translate(-50%);
}
.order_data_customer_address_view:first-child
{
    margin-top: 45px;
}

.customer_address_title {
    width: auto;
    text-align: center;
    font-size: 18px;
    font-weight: lighter;
}

.customer_address_header {
    background-color: #cdcdcd;
    padding: 8px 0px 8px 0px;
    opacity: 0.95;
    text-align: center;
    width: 93%;
    font-size: 13px;
    border: none;
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, -0%);
}

.customer_address_tiles {
    background-color: transparent;
    cursor: pointer;    position: absolute;
    display: block;
    width: 50px;
    height: 31px;
    top: 0px;
    right: 0px;
    cursor: pointer;
    z-index: 2;
    color: rgb(0, 0, 0);
    font-size: 35px;
    text-align: center;
    padding: 8px 0px 8px 0px;
    width: 92.5%;
    font-size: 12px;
    border: none;
    text-align: center;
    display: inline-block;
    font-weight: lighter;
    left: 50%;
    transform: translate(-50%, -0%);
    position: relative;
    transition-duration: 0.2s
}

.customer_address_tiles:hover {
    border-left: 5px solid rgb(97, 97, 97);
}

/** End of Customer Address */

/** Customer details */

.customer_data_container {
    position: relative;
    top: 5%;
    width: 90%;
}

.customer_data_row {
    position: relative;
    height: 30px;
    padding-top: 1%;
    display: flex;
    justify-content: center;
}

.customer_data_header {
    width: 40%;
    font-size: 12px;
    padding: 6px 0px 0px 20px;
    text-align: left;
    border-left: 2px solid black;
    display: inline-block;
    background-color: transparent;
    transition-duration: 0.2s;
}

.customer_data_header:hover {
    border-left: 5px solid rgb(97, 97, 97);
}

.customer_data_tiles {
    width: 50%;
    padding: 6px 0px 0px 10px;
    font-size: 14px;
    text-align: left;
    display: inline-block;
    background-color: transparent;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.p-d-false 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/cross.png);
}
.p-d-true 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/tick.png);
}
.p-d-unknown
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/question-mark.png);
}

/** End Customer details */

/** Order Lines */
.order_lines_view {
    position: relative;
    left: 50%;
    transform: translate(-48%);
    width: 90%;
    height: auto;
}

.order_table {
    position: relative;
    text-align: center;
    width: 91%;
    left: 49%;
}

.order_line:nth-child(even) {
    position: relative;
    padding: 10px;
    justify-content: center;
}

.order_line:nth-child(odd) {
    position: relative;
    padding: 10px;
    justify-content: center;
}

.order_line_image {
    width: 100px;
    height: 45px;
    background-image: url(../media/orders.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    max-width: 45px;
}

.order_line_title {
    font-size: 14px;
    text-align: left;
}

.order_line_qty {
    font-size: 14px;
    text-align: center;
}

.order_line_price {
    font-size: 14px;
    text-align: right;
}
.order_table p 
{
   padding: 0px;
   margin: 0px; 
}

/** Order Lines end */

/** Order values */

.order_totals_view {
    z-index: 1;
    position: relative;
    width: 90%;
    left: 50%;
    transform: translate(-48%);
}

.order_totals_table {
    position: relative;
    text-align: center;
    width: 97%;
    margin-bottom: 0px;
    left: 47.5%;
}

.order_totals_line:nth-child(even) {
    position: relative;
    padding: 0px 8px 0px 8px;
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.order_totals_line:nth-child(odd) {
    position: relative;
    background-color: transparent;
    padding: 0px 8px 0px 8px;
    display: flex;
    justify-content: center;
}

.order_totals_headers {
    width: 20%;
    font-size: 12px;
    margin-left: 20px;
    text-align: left;
    display: inline-block;
}

.order_totals_middle {
    width: 60%;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.order_totals_value {
    width: 20%;
    font-size: 14px;
    text-align: right;
    display: inline-block;
    font-weight: bold;
}
