#login
{
    overflow: hidden;
}
.modal1
{
    display: block;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.4);
    animation: FadeIn ease-in 1s;
}
.modal-content
{
	position: relative;
	background-color: transparent;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
    height: 100%;
	opacity: 0.9;
	text-align: center;
	z-index: 2;
}

.modal-content:hover
{
	opacity: 1;
}
.modal-container
{
    width: 39%;
    padding: 16px;
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(0 0 0 / 40%);
    transition-duration: 0.5s;
    overflow: auto;
}
.modal-container:hover 
{
    background-color: rgba(0, 0, 0, 0.6);
}

.modal-content .text 
{
	background-color: transparent;
    color: white;
	font-size: 16px;
    text-decoration: underline;
    display: inline-block;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
    position: relative;
    bottom: -5px;
    cursor: pointer;
}

input[type = text], input[type = password], input[type = email]
{
	width: 450px;
	padding: 15px;
    margin: 10px 0;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
    background-color: transparent;
    border-radius: 0px;
    color: white;
}
input[type = _text]
{
	padding: 10px;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
	display: inline-block;
	box-sizing: border-box;
    background-color: transparent;
    border-radius: 0px;
}
input[type = return]
{
    width: auto;
    padding: 5px;
    margin: 0px 0;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0px;
    text-align: left;
    height: 100px;
    overflow: auto;
}
.modal-content textarea 
{
    background-color: transparent;
    font-size: 14px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: black;
    padding: 5px;

}
.pre 
{
    width: auto;
    padding: 5px;
    margin: 0px 0;
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: transparent;
    display: inline-block;
    box-sizing: border-box;
    background-color: transparent;
    border-radius: 0px;
    text-align: left;
    overflow: auto;
    color: aliceblue;
}

.button 
{
    padding: 2px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    width: 100px;
    height: 40px;
    position: relative;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    border-radius: 4px;
    color: white;
    transition-duration: 0.4s;
    background: linear-gradient(to bottom, #202020, #111119);
}
.button:hover
{
	color: rgb(255, 255, 255);
    box-shadow: 0 0 6px #686868;
}
.reg-portion 
{
    display: block;
    opacity: 1;
    position: relative;
    overflow: hidden;
}

@keyframes SlideIn 
{
    from
    {
        left: 15%;
        opacity: 0;
    }
    to 
    {
        left: 0%;
        opacity: 1;
    }
}

.return-button, .return-button2 
{
    position: absolute;
    display: none;
    width: 30px;
    height: 30px;
    top: 10px;
    left: 10px;
    background-image: url(../media/return.png);
    background-size: cover;
    background-position: center;
    cursor: pointer;
    z-index: 2;
}
.result-container
{
    display: none;
    padding: 16px;
    position: absolute;
    left: 50%;
    top: 44%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.5s;
    animation: FadeIn ease-in 1s;
    text-align: center;
    z-index: 2;
}
.message 
{
    width: auto;
    height: auto;
    padding: 5px;
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}
.info-message 
{
	position: absolute;
	display: none;
	left: 0%;
    top: 100%;
    transform: translate(0%, -100%);
	min-width: 120px;
    padding: 14px;
	text-align: center;
	font-family: monospace;
	font-size: 12px;
	border-radius: 5px;
	background-color: transparent;
	animation: fadeMessage ease-in-out 2s;
	z-index: 2;
    color: white;
}
.holder 
{
    position: relative;
    height: 300px;
    margin: 25px;
    overflow: auto;
}
@keyframes fadeMessage
{
	0%{opacity: 0; }
	50% { opacity: 1; }
	100% { opacity: 0; }
}
.table 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
tr:nth-child(even) 
{
    background-color: transparent;
    cursor: pointer;
}
tr:hover {
    background-color: rgba(128, 128, 128, 0.527);
    cursor: pointer;
}

/* Output Image CSS */
output
{
    width: 100%;
    min-height: 150px;
    display: block;
    gap: 15px;
    position: relative;
    border-radius: 5px;
    top: 10px;
}
  
output .image img
{
    background-size: contain;
    background-repeat: no-repeat;
    height: 100%;
    overflow: auto;
    width: 95%;
    object-fit: cover;
    object-position: 38% 25%;
}
  
#delete
{
    position: absolute;
    top: 6px;
    right: 11px;
    cursor: pointer;
    font-size: 22px;
    color: red;
    z-index: 1;
}

output .image span:hover 
{
    opacity: 0.8;
}
  
output .span--hidden
{
    visibility: hidden;
}
.details-right label 
{
    background-color: rgb(238, 238, 238);
    color: rgb(43, 43, 43);
    padding: 0.5rem;
    font-family: sans-serif;
    border-radius: 0.3rem;
    cursor: pointer;
    position: relative;
    top: 40%;
    transform: translate(-50%, -50%);
    transition-duration: 0.4s;
    z-index: 1;
}
.details-right label:hover
{
    background-color: rgb(72, 101, 128);
    color: aliceblue;
}
.modal-container label 
{
    color: white;
}
.submiit 
{
    background-color: #fcfafa;
    color: rgb(37, 37, 37);
    background-color: rgb(72, 101, 128);
    color: aliceblue;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 8px;
    margin: 2px;
    font-size: 15px;
    width: 130px;
    position: relative;
    transition-duration: 0.4s;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: relative;
    top: 6%;
    left: 50%;
    transform: translate(-60%, -2%);
    transition-duration: 0.4s;
}
.submiit:hover 
{
    background-color: rgb(29, 74, 116);
    color: aliceblue;
}

input #file-upload-button 
{
    padding: 10px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    width: 100px;
    position: relative;
    color: black;
    border: 1px solid #000000;
    border-radius: 4px;
    color: white;
    transition-duration: 0.4s;
    background: linear-gradient(to bottom, #202020, #111119);
    left: 50%;
    transform: translate(-50%);
}

/* Rain droplets */
.rain 
{
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    bottom: -20%;
}
.rain.back-row 
{
    display: none;
    z-index: 1;
    bottom: 60px;
    opacity: 0.5;
}
.back-row-toggle .rain.back-row 
{
    display: block;
}

.drop 
{
    position: absolute;
    bottom: 100%;
    width: 15px;
    height: 120px;
    pointer-events: none;
    animation: drop 0.5s linear infinite;
}

@keyframes drop 
{
    0% 
    {
        transform: translateY(0vh);
    }
    75% 
    {
        transform: translateY(90vh);
    }
    100% 
    {
        transform: translateY(90vh);
    }
}
.stem 
{
    width: 1.2px;
    height: 60%;
    margin-left: 7px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.25));
    animation: stem 0.5s linear infinite;
}
@keyframes stem 
{
    0% 
    {
        opacity: 1;
    }
    65% 
    {
        opacity: 1;
    }
    75% 
    {
        opacity: 0;
    }
    100% 
    {
        opacity: 0;
    }
}
.splat 
{
    width: 15px;
    height: 10px;
    border-top: 2px dotted rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    opacity: 1;
    transform: scale(0);
    animation: splat 0.5s linear infinite;
    display: none;
}
  
.splat-toggle .splat 
{
    display: block;
}

@keyframes splat 
{
    0% 
    {
        opacity: 1;
        transform: scale(0);
    }
    80% 
    {
        opacity: 1;
        transform: scale(0);
    }
    90% 
    {
        opacity: 0.5;
        transform: scale(1);
    }
    100% 
    {
        opacity: 0;
        transform: scale(1.5);
    }
}

.toggles 
{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 3;
}

.toggle 
{
    position: absolute;
    left: 20px;
    width: 50px;
    height: 50px;
    line-height: 51px;
    box-sizing: border-box;
    text-align: center;
    font-family: sans-serif;
    font-size: 10px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.2);
    color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle:hover 
{
    background-color: rgba(255, 255, 255, 0.25);
}

.toggle:active 
{
    background-color: rgba(255, 255, 255, 0.3);
}

.toggle.active 
{
    background-color: rgba(255, 255, 255, 0.4);
}

.splat-toggle 
{
    top: 20px;
}
/* Imported file output table */
.output 
{
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: none;
    background-color: rgba(92, 92, 92, 0.438);
    height: auto;
    width: 50%;
    overflow: auto;
    z-index: 3;
}
.output-table 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
    margin-top: 40px;
    color: rgb(255, 255, 255);
    font-size: 14px;
}
@keyframes Fadeout 
{
    0% {opacity: 1;}
    50% {opacity: 0.5;}
    100% {opacity: 0;}
}
/* Google Login button */
@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.google-btn 
{
    position: relative;
    margin-top: 15px;
    left: 50%;
    transform: translate(-50%);
    width: 184px;
    height: 42px;
    background-color: #4285f4;
    border-radius: 2px;
    transition-duration: 0.2s;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    cursor: pointer;
}
.google-btn .google-icon-wrapper 
{
	 position: absolute;
	 margin-top: 1px;
	 margin-left: 1px;
	 width: 40px;
	 height: 40px;
	 border-radius: 2px;
	 background-color: #fff;
}
.google-btn .google-icon 
{
    margin-top: 9px;
    width: 22px;
    height: 22px;
}
.google-btn .btn-text 
{
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 12px;
    letter-spacing: 0.2px;
    padding: 2px;
}
.google-btn:hover 
{
	 box-shadow: 0 0 6px #4285f4;
}
.google-btn:active 
{
	 background: #1669f2;
}
 