

.avatar 
{
    width: 92px;
    height: 49px;
    position: absolute;
    right: 0;
    top: 0px;
}

.navbar 
{
    background-color: rgba(201, 201, 201, 0.95);
    font-family: system-ui;
    transition-duration: 0.2s;
    position: relative;
    z-index: 3;
    width: 100%;
    display: none;
}
.navbar:hover 
{

    background-color: rgba(241, 241, 241, 0.98);
}
  
.navbar a 
{
    float: left;
    font-size: 12px;
    color: rgb(34, 33, 33);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.navbar .home 
{
    float: left;
    font-size: 16px;
    color: rgb(34, 33, 33);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.dropdown 
{
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn 
{
    font-size: 16px;
    border: none;
    outline: none;
    color: rgb(34, 33, 33);
    padding: 14px 16px;
    background-color: inherit;
    font-family: system-ui;
    margin: 0;
    cursor: pointer;
}

.navbar a:hover, .dropdown:hover .dropbtn 
{
    background-color: #2196F3;
    box-shadow: 0 0 1px #2196F3;
    color: aliceblue;
}

.dropdown-content 
{
    display: none;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}

.dropdown-content a 
{
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    transition-duration: 0.35s;
}

.dropdown-content a:hover 
{
    color:#333;
    background-color: #2196F3;
    box-shadow: 0 0 1px #2196F3;
    text-decoration: underline;
}

.dropdown:hover .dropdown-content 
{
    display: block;
}