.main-container
{
    position: absolute;
    display: block;
    height: 100%;
    left: 25%;
    width: 75%;
    background: linear-gradient(to bottom, #202020c7, #111119f0);
    overflow: auto;
    transition-duration: 0.4s;
    overflow: hidden;
    z-index:2;
    animation: FadeIn ease-in 0.5s;
}
.main-container:hover
{
    background-color: rgba(71, 73, 75, 0.6);
}
.side-container
{
    position: absolute;
    display: block;
    left: 0;
    height: 100%;
    width: 25%;
    background: linear-gradient(to bottom, #202020c7, #111119f0);
    overflow: auto;
    transition-duration: 0.4s;
    z-index:2;
    animation: FadeIn ease-in 0.5s;
}
.side-container:hover 
{
    background-color: rgba(71, 73, 75, 0.6);
}
.settings
{
    position: absolute;
    display: block;
    left: 0;
    text-align: center;
    height: 100%;
    width: 100%;
    overflow: auto;
    top: 20px;
}
.app-settings, .shopify-settings
{
    overflow: auto;
}
.title 
{
    position: relative;
    text-align: left;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    border-bottom: 1px solid aliceblue; 
    color: white;
    cursor: pointer;
}
.setting, .setting_main, .setting_ware, .restriction_setting
{
    position: relative;
    margin-top: 15px;
    margin-bottom: 15px;
    display: block;
    width: 720px;
    height: auto;
    left: 50%;
    transform: translate(-50%);
    background-color:rgb(240, 248, 255, 0.6);
    border-radius: 5px;
    transition-duration: 0.4s;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
}
.setting:hover 
{
    box-shadow: 5px 10px rgb(0, 5, 5, 0.1);
    background-color:rgb(240, 248, 255, 0.9);
}
.setting-title, ._title, .tittle 
{
    position: relative;
    text-align: center;
    width: 100%;
    height: auto;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    border-bottom: 1px solid black;
    font-weight: bold;
}
.setting-details 
{
    position: relative;
    text-align: left;
    width: 100%;
    height: auto;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
}
.description
{
    word-wrap: break-word;
    overflow: auto;
    text-align: center;
    transition-duration: 0.4s;
    background-color: rgba(128, 128, 128, 0.1);
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    border-left: transparent;
    margin-bottom: 5px;
}
.description:hover
{
    background-color: rgba(128, 128, 128, 0.2);
}


.value, .id
{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}
.button-on-off, .webhook-button
{
    position: absolute;
    width: 90px;
    height: 36px;
    right: 15px;
    top: 55%;
    transition-duration: 0.4s;
    color: rgb(0, 0, 0);
    font-size: 12px;
    background-color: aliceblue;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    transform: translate(0%, -45%);
    border: none;
}
.button-on-off:hover, .webhook-button:hover
{
    background-color: rgba(11, 121, 7, 0.5);
}

input[type = setting]
{
    position: relative;
    padding: 10px;
    font-size: 13px;
    float: left;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    width: 30%;
    background: transparent;
    color: rgb(17, 17, 17);
    left: 50%;
    transform: translate(-50%);
}
.settings-2
{
    display: block;
    overflow: auto;
    padding-top: 54px;
    padding-right: 54px;
    padding-bottom: 30px;
    padding-left: 54px;
    text-align: center;
}
.application
{
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    color: rgb(255, 255, 255);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 10px;
    user-select: none;
    background-color:#c5c5c511;

}
.shopify 
{
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgb(255, 255, 255);
    padding: 10px;
    user-select: none;
}

.mini-setting 
{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    font-size: 11px;
    background-color: white;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
    border: none;
    width: 170px;
    display: block;
    height: auto;
    cursor: pointer;
    transition-duration: 0.4s;
}
.mini-setting:hover
{
    background-color: #2196F3;
    box-shadow: 0 0 1px #2196F3;
    color: aliceblue;
}
.a
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 4px; 
    display: inline-block;
    background-size: cover;
    background-image: url(../media/icons8-settings-50.png);
}
.b 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 5px; 
    display: inline-block;
    background-size: cover;
    background-image: url(../media/icons8-shopify-50.png);
}
.c
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 5px; 
    display: inline-block;
    background-size: cover;
    background-image: url(../media/notAllowed.png);
}
.true, .false
{
    position: relative;
    font-size: 11px;
    background-color: rgb(255, 255, 255);
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    border: none;
    width: 90px;
    display: block;
    height: auto;
    cursor: pointer;
    transition-duration: 0.4s;
}
.true:hover
{
    background-color: rgb(19, 99, 8);
    color: aliceblue;
}
.false:hover
{
    background-color: rgb(148, 11, 11);
    color: aliceblue;
}
.table tr:nth-child(even):hover
{
    background-color: #7e7e7e;
    cursor: pointer;
}
.table tr:nth-child(odd):hover
{
    background-color: #7e7e7e;
    cursor: pointer;
}

.warehouse-mapp
{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #202020c7, #111119f0);
    z-index: 2;
    animation: FadeIn ease-in 0.5s;
}
.warehouse-mapp .table 
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-collapse: collapse;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    margin-bottom: 40px;
    font-size: 14px;
    transform: translate(-50%);
    top: 10%;
    margin-bottom: 0px;
    font-size: 14px;
    color: white;
}
.warehouse-mapp .table tr
{
    color: rgb(218, 218, 218);
    background-color: transparent;
}
.warehouse-mapp tr:hover
{
    color: rgb(0, 0, 0);
    background-color: rgba(194, 194, 194, 0.842);
}

.queue-view 
{
    display: none;
    top: 15%;
    position: absolute;
    z-index: 5;
    width: 90%;
    height: 100%;
}
/* Webhook div */
.webhook_div {
    margin: 0;
    max-width: 270px;
}

.webhook_div input[type=text] {
    position: relative;
    padding: 10px;
    font-size: 13px;
    float: left;
    border-left: 1px solid grey;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;
    border-right: 1px solid grey;
    width: 70%;
    background: transparent;
    color: white;
    left: 50%;
    transform: translate(-50%);
}

.create_webhook {
    width: 22%;
    position: relative;
    display: inline-block;
    font-size: 13px;
    height: 37px;
}

.webhook_configuration {
    position: relative;
    width: 20%;
    height: auto;
    border-width: 1px;
    border-style: inset;
    border-radius: 10px;
    padding: 5px;
}

h3 {
    text-align: center;
    font-weight: lighter;
    margin: 0;
}

.info_icon {
    background-image: url(../media/info.png);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    position: relative;
    display: inline-block;
    top: 7px;
    left: 7px;
    transition-duration: 0.4s;
    border-radius: 15px;
    cursor: pointer;
    background-color: #c5c5c5;
}

.info_icon:hover {
    background-color: #7a7a7a;
}

/* Location_Warehouse CSS */

.shopify_locations_list_container {
    position: relative;
    left: 50%;
    width: max-content;
    transform: translate(-50%, 0);
    top: 10%;
    border-radius: 10px;
}

.shopify_locations_item {
    position: relative;
    margin: 10px;
    padding: 5px;
    border-radius: 15px;
    border: 1px solid black;
    background-color: white;
    color: black;
    text-align: center;
}

select {
    padding: 5px;
    color: white;
    font-weight: lighter;
    font-size: 12px;
    background-color: #444444;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
}
.settings tr:nth-child(even)
{
    background-color: transparent;
    cursor: initial;
}