/* Filter */
body 
{
    overflow: auto;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/* Filter elements */
.filter 
{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 30%;
    height: 100%;
    padding: 10px;
    opacity: 1;
    transition-duration: 0.4s;
    animation: SlideUp 1.2s ease-in;
    z-index: 1;
    overflow: auto;
    background: linear-gradient(to bottom, #202020c7, #111119f0);
}
.filter:hover 
{
    background-color: #202020a2;
}
.filter-title
{
    position: relative;
    display: none;
    padding: 20px;
    text-align: center;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 100%;
    top: 0;
    left: 0;
    border-bottom: 1px solid rgb(255, 255, 255);
    margin-bottom: 20px;
    color: white;
}
.filter-elements, .queue-items, .graph-view
{
    position: relative;
    display: none;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    height: 5%;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    font-size: 12px;
    color: black;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.514);
    border-radius: 4px;
    color: white;
    background: linear-gradient(to bottom, #2020209c, #11111936);
}
.filter-elements:hover, .queue-items:hover, .graph-view:hover
{
	color: rgb(255, 255, 255);
    box-shadow: 0 0 6px rgba(240, 248, 255, 0.822);
}
.filter-elements-text 
{
    position: relative;
    font-size: 15px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.filter-img, .queue-img
{
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    background-position: center;
    background-size: cover;
    background-image: url(../media/tick.gif);
    width: 20px;
    height: 20px;
}
.filter-button 
{
    font-size: 12px;
    position: relative;
    width: 100px;
    height: 40px;
    background-color: rgb(107, 107, 107);
    transition-duration: 0.4s;
    left: 46%;
    margin-left: 10px;
    transform: translate(-100%);
    cursor: not-allowed;
    padding: 2px;
    color: black;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.514);
    border-radius: 4px;
    color: white;
    background: linear-gradient(to bottom, #2020209c, #11111936);
}
.filter-button:hover
{
	color: rgb(255, 255, 255);
    box-shadow: 0 0 6px rgba(240, 248, 255, 0.822);
	background-position: center;
}
.filter-selection-main 
{
    display: none;
    background-color: rgb(137 137 137 / 90%);
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    animation: FadeIn ease-in 0.5s;
    z-index: 5;
}
.filter-selection-title 
{
    font-size: 18px;
    padding: 20px;
    color: white;
}
.filter-input
{   
    position: relative;
    width: 560px;
    height: 210px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    background-color: rgba(61, 61, 61, 0.7);
    overflow: hidden;
}
.vendor, .category, .type
{
    display: none;
}
.fetch-product, .push-product 
{
    position: relative;
    display: none;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 60%;
    height: 6%;
    top: 0;
    left: 0;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    left: 50%;
    transform: translate(-50%);
    text-decoration: none;
    font-size: 12px;
    color: black;
    border: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.514);
    border-radius: 4px;
    color: white;
    background: linear-gradient(to bottom, #2020209c, #11111936);
}
.fetch-product:hover, .push-product:hover
{
	color: rgb(255, 255, 255);
    box-shadow: 0 0 6px rgba(240, 248, 255, 0.822);
}
.close-filter 
{
    position: absolute;
    display: block;
    width: 70px;
    height: 50px;
    top: -5px;
    right: -16px;
    cursor: pointer;
    z-index: 2;
    color: rgb(184, 11, 11);
    font-size: 35px;
    text-align: center;
}
input[type = vendor], input[type = category], input[type = type]
{
	width: 450px;
	padding: 15px;
	margin: 5px 0; 
    border-top: transparent;
    border-left: transparent;
    border-right: transparent;
    border-bottom: 1px solid black;
	display: inline-block;
	box-sizing: border-box;
    background-color: transparent;
    border-radius: 0px;
    color: white;
}

/* Search element */
form.search-area 
{
    opacity: 0;
    border: none;
    padding: 0;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translate(-50%);
}
input[type="search"] 
{
    border: none;
    background: transparent;
    margin: 0;
    padding: 7px 8px;
    font-size: 14px;
    color: inherit;
    border: 1px solid transparent;
    border-radius: inherit;
    
}

input[type = search]::-webkit-input-placeholder 
{
    text-align: center;
    color: rgb(170, 170, 170);
}
input.search-area
{
    width: 260px;
    border: 1px solid #8d8d8d;
    color: #cdcdcd;
    border-radius: 10px;
    display: block;
    position: relative;
    left: 50%;
    transform: translate(-50%);
    padding: 9px 4px 9px 40px;
    background: transparent url(../media/search.svg) no-repeat 13px center;
}

/* Main element */
.main 
{
    position: absolute;
    display: block;
    left: 51%;
    top: 10%;
    width: 70%;
    height: 96%;
    opacity: 1;
    z-index: 2;
    transform: translate(-30%, -6%);
    animation: SlideUp2 1.2s ease-in;
    overflow: hidden;
    transition-duration: 0.4s;
    background: linear-gradient(to bottom, #202020c7, #111119f0);
}
.main:hover 
{
    background-color: #202020a2;
}
.main-elements 
{
    position: relative;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 85%;
    transform: translate(-50%, -50%);
    overflow: auto;
}
.pan-main 
{
    display: block;
    position: relative;
    overflow: auto;
    width: 100%;
    height: 90%;
    top: 5px;
}
/* divs inside main element */
.pan
{
    display: none;
    position: relative;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 2px;
    border-radius: 10px;
    width: 90%;
    height: 130px;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: rgb(0, 0, 0, 0.6);
    user-select: none;
    cursor: pointer;
    overflow: hidden;
    background-color: rgba(75, 75, 75, 0.65);
    border: 1px solid grey;
    transition-duration: 0.2s;
}
.pan:hover 
{
    border: 1px solid rgb(255, 255, 255);
}
.pan-img 
{
    position: relative;
    top: 50%;
    left: 0;
    height: 126px;
    width: 126px;
    float: left;
    margin-right: 15px;
    border-radius: 10px;
    transform: translate(0%, -50%);
    background-size: cover;
    background-position: center;
    background-color: rgb(177 177 177 / 34%);
}
.img-2
{
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../media/orders.png);
    background-size:auto;
}
.img-3
{
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(177 177 177);
    background-image: url(../media/customer.png);
    background-size:auto;
}
.pan-details
{
    position: relative;
    float: left;
    height: 100%;
    width: 60%;
    font-size: 14px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: left;
    padding: 4px;
    transition-duration: 0.4s;
    pointer-events: none;
}
.p-d-id, .p-d-activity
{
    display: none;
    pointer-events: none;
}
.p-d-false 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/cross.png);
}
.p-d-true 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/tick.png);
}
.p-d-unknown
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/question-mark.png);
}
.p-d-load 
{
    position: relative;
    height: 20px;
    width: 20px;
    top: 3px;
    opacity: 0.75;
    display: inline-block;
    background-size: cover;
    background-image: url(../media/load.png);
}
.p-d-title
{
    border: none;
    padding: 5px;
    font-size: 15px;
}
.p-d-code, .p-d-options
{
    border: none;
    padding: 5px;
}
.p-d-category, .p-d-vendor, .p-d-type
{
    border: none;
    padding: 5px;
    background-color: #8181817e;
    color: black;
    border-radius: 5px;
    transition-duration: 0.4s;
    pointer-events: all;
}
.p-d-category:hover, .p-d-vendor:hover, .p-d-type:hover
{
    background-color: #b8b8b87e;
    color: black;
}

.p-d-category, .p-d-vendor, .p-d-type, a:hover 
{
    color: rgb(0, 0, 0);
}

.p-d-status
{
    position: absolute;
    left: 69%;
    font-weight: 400;
}
.status
{
    display: inline;
}
@keyframes SlideUp 
{
    from {top: 20%; opacity: 0;}
    to {top: 0%; opacity: 1;}
}

@keyframes SlideUp2 
{
    from {top: 20%; opacity: 0;}
    to {top: 13%; opacity: 1;}
}

@keyframes SlideUp3
{
    from {top: 30%; opacity: 0;}
    to {top: 53%; opacity: 1;}
}

@keyframes MoveLeft 
{
    from {position: relative; z-index: 3; width: 100%; left: 0%;}
    to {z-index: 3; width: 70%; left: 30%;}
}
@keyframes MoveLeft2
{
    from {position: relative; z-index: 3; width: 100%; left: 0%;}
    to {z-index: 3; width: 75%; left: 25%;}
}

@keyframes MoveRight
{

    from {z-index: 3; width: 70%; left: 30%;}
    to {position: relative; z-index: 3; width: 100%; left: 0%;}
}

@keyframes appear 
{
    from {opacity: 0;}
    to {opacity: 1;}
}

/* Pagination */
.center 
{
    text-align: center;
    position: relative;
    top: 28px;
    display: none;
}
.hidden 
{
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
  
.pagination button 
{
    color: rgb(202, 202, 202);
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
    background-color: transparent;
    cursor: pointer;
}
  
.pagination button.active 
{
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    position: absolute;
    transform: translate(-50%);
    left: 50%;
}
#next 
{
    float: right;
    position: relative;
    left: -50%;
    transform: translate(172%);
}
#prev
{
    float: right;
    position: relative;
    left: -50%;
    transform: translate(76%);
}

.pan-main a
{
    color: black;
    transition-duration: 0.4s;
    text-decoration: none;
}
a
{
    color: black;
    transition-duration: 0.4s;
    text-decoration: none;
}
.orders .settings-2
{
    display: none;
    overflow: auto;
    padding: 5px;
    text-align: center;
}
.products .settings-2
{
    display: none;
    overflow: auto;
    padding: 30px;
    text-align: center;
}
.customer .settings-2
{
    display: none;
    overflow: auto;
    padding: 5px;
    text-align: center;
}
.add-title 
{
    position: relative;
    display: block;
    left: 50%;
    transform: translate(-50%);
    font-size: 16px;
    color: black;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 1px solid rgb(0, 0, 0);
    padding: 10px;
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    transition-duration: 0.4s;
    width: 250px;
    margin-bottom: 10px;
}
.add-title:hover
{
    background-color: rgba(61, 61, 61, 0.1);
}
.icon 
{
    position: absolute;
    height: 29px;
    width: 28px;
    top: 9px;
    left: 32px;
    display: block;
    background-size: cover;
    background-image: url(../media/add.png);
}
.empty-message 
{
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    padding: 15px;
    border-radius: 5px;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: rgba(61, 61, 61, 0.8);
    user-select: none;
}
#button-hold 
{
    position: relative;
    display: none;
    left: 50%;
    width: 100%;
    height: 45px;
    transform: translate(-50%);
}
@media only screen and (min-device-width : 920px) and (max-device-width : 1100px)
{
    .pan-details
    {
        position: relative;
        float: left;
        height: 100%;
        width: 50%;
        font-size: 14px;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        text-align: left;
        padding: 4px;
        transition-duration: 0.4s;
        pointer-events: none;
    }
    .p-d-status 
    {
        position: absolute;
        left: 55%;
        font-weight: 400;
    }
}